<h1><%= l(:rate_label_new_rate) %></h1>

<% @rate = Rate.new(:user => @user ) %>
<%= render :partial => 'rates/form' %>

<h1><%= l(:rate_label_rate_history) %></h1>
<%# TODO: Refactor out of the view once there is a hook in the controller (Post 0.8.0). %>
<%# Can't expect everyone to upgrade at the moment %>
<% @rates = Rate.history_for_user(@user) %>

<%= render :partial => 'rates/list' %>
